<footer class="footer">
    <nav class="leftFooter fontIncrease">
        <a href=""><p>&#169; CCI Connections</p></a>
        <a href="/about"><p>About</p></a>
        <a href="/contact"><p>Contact</p></a>
    </nav>
    <nav class="rightFooter">
        <a href=""><img class="socialIcons" src="/../../assets/Images/reddit_icon.png" alt="reddit logo"></a>
        <a href=""><img class="socialIcons" src="/../../assets/Images/fb_icon.png" alt="facebook logo"></a>
        <a href=""><img class="socialIcons" src="/../../assets/Images/twitter_icon.png" alt="twitter logo"></a>
    </nav>
</footer>
