<nav class="topNav">
    <a href="/index"> <img src="/../../assets/images/logo.png" alt="logo" class="logo"> </a>
    <ul class="fontIncrease">
        <li>
            <a href="/newConnection"> Start a new connection</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/index">Sign Up</a>
        </li>
    </ul>
</nav>

<nav class="botNav fontIncrease">
    <a href="/connections">Connections</a>
</nav>